<!DOCTYPE html>
<html>
    <head>
        <title>SitesUnlimited</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <%=stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/excite-bike/jquery-ui.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
        <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    </head>

    <body>
        <%= render 'layouts/header' %>
        <p class="notice"><%#= notice %></p>
        <p class="alert"><%#= alert %></p>
        <div class="container">
            <% if notice %>
                <%=render 'layouts/alerts'%>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>
